* {
    margin: 0px 200px 0px 200px;
}

h3, h6 {
    text-align: left;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.jumbotron {
    border-left: 6px solid blue;
}

.tabs {
    font-size: 25px;
}