.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: gainsboro;
    color: black;
    font-weight: 700;
    font-size: medium;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: gray;
    color: black;
    font-weight: 700;
}