mat-toolbar-row {
    background-color: #b2538bff;
    padding: 0 0 0 10px;
}

#menuButton {
    margin-right: 4px;
}

#routerOutletDiv {
    height: 88vh;
}

div.mat-drawer-inner-container{
    background-color: #d8d7d7fa;
}


