<mat-toolbar>
  <mat-toolbar-row>
    <img src="assets/brand.png" style="height: inherit;"/>
    <button id="menuButton" mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>    
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/a'"> Strona główna </a>
      <a mat-button [routerLink]="'/a'"> Kontakty </a>
      <a mat-button [routerLink]="'/cases'"> Sprawy </a>
      <a mat-button [routerLink]="'/a'"> Firmy klienckie </a>
      <a mat-button [routerLink]="'/a'"> Windykacja masowa </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/a'"> Accounts </a>
      <a mat-list-item [routerLink]="'/a'"> Create Account </a>
      <a mat-list-item [routerLink]="'/a'"> Contacts </a>
      <a mat-list-item [routerLink]="'/a'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/a'"> Activities </a>
      <a mat-list-item [routerLink]="'/a'"> Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="routerOutletDiv">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
  
  