mat-toolbar-row {
    background-color: #AD4381;
    padding: 0 0 0 10px;
    color: white;
    font-family: 'Miss Fajardose', cursive
}

#menuButton {
    margin-right: 4px;
}

#routerOutletDiv {
    height: 88vh;
}

div.mat-drawer-inner-container{
    background-color: #d8d7d7fa;
}


